#testimonials-slider .swiper-wrapper {
  will-change: transform;
}

#testimonials-slider .swiper-wrapper .swiper-slide {
  transition: opacity 1.2s ease-in-out, transform 1.5s ease-in;
  transform: scale(0.9);
}

#testimonials-slider .swiper-wrapper .swiper-slide.swiper-slide-active {
  transform: scale(1);
}

#testimonials-slider .swiper-wrapper .swiper-slide:not(.swiper-slide-active) {
  opacity: 0.4;
}

#testimonials-slider .testimonials-pagination {
  display: flex;
  gap: 12px;
}

#testimonials-slider .testimonials-pagination .swiper-pagination-bullet {
  background-color: white;
  padding: 5px 10px;
  border-radius: 7.5px;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

#testimonials-slider .testimonials-pagination .swiper-pagination-bullet:hover {
  transition: filter 0.6s ease-in-out;
  filter: brightness(0.9);
}

#testimonials-slider .testimonials-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--base-color-neutral--black);
  color: white;
}
